* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #0b0b0b;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 40px);
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    font-size: 20px;
}

form p {
    font-size: 14px;
    color: #0f0e0e;
    margin-bottom: 20px;
}

form a {
    color: #106d82;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

button {
    background-color: #1070d6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
}


